.footer {
    background-color: #040E18;
}
.footer h3 {
    color: #fff;
    padding-bottom: 30px;
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_social ul li {
    margin: 2px;
    display: inline-block;
}
.footer_social ul li a {
    background: #2e3537 none repeat scroll 0 0;
    border: 1px solid #2e3537;
    box-shadow: 0 0 0 7px transparent;
    color: #aaa;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 21px;
    padding: 9px 13px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.footer-bottom {
    background: #09121B;
    padding: 20px 0;
}
.footer_copyright {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}
.footer_copyright a {
    color: #076fbf;
}