  <div id="banner" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1 class="small" style="color: black">Welcome To <span class="bold">?&A World!</span></h1>
          
        </div>
      </div>
    </div>
  </div>

  <div class="cta-1">
    <div class="container">
      <div class="row text-center white">
        <h1 class="cta-title">Say Hey to this Site!!</h1>
        <br>   
          <p class="cta-sub-title">We provide best service to satisfy your necesity. </p>
      </div>
    </div>
  </div>

   <!--SERVICE START-->
  <div id="service" class="section-padding">
    <div class="container">
      
        <div class="page-title text-center">
          <h1>Our Service</h1>
          <p>Discussion Forum is an open community for anyone that codes.We help you get answer to your 
          toughest coding question,share knowledge with your coworker in private.</p>
          <p class="pg-titl-bdr-btm" ></p>
        </div>
        <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-icon"><i class="fa fa-picture-o"></i></div>
            <div class="service-text">
              <h3>Public Questions and Answers</h3>
              <p> Get answers to your question and givr back bu sharing your knowlege with others.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-icon"><i class="fa fa fa-code"></i></div>
            <div class="service-text">
              <h3>Search</h3>
              <p> Search your question,error ,query or syntex and get answer of others.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-icon"><i class="fa fa-diamond"></i></div>
            <div class="service-text">
              <h3>Connect with others</h3>
              <p>Share your skills and knowlege with others,connect with different skills users.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="section-padding">
    <div class="container">
      
        <div class="page-title text-center">
          <h1>Meet Our Team</h1>
            <hr class="pg-titl-bdr-btm">
         </div>

        <div class="autoplay">
           <div class="row">
          <div class="col-md-6">
            <div class="team-info">
              <div class="img-sec">
                <img src="/assets/Img/agent1.jpg" class="img-responsive">
              </div>
              <div class="fig-caption">
                <h3>Savaliya Vivek</h3>
                <p class="marb-20"> Web Developer</p>
                <p>Follow me:</p>
                <ul class="team-social">
                  <li class="blue"><a href="#"><i class="fa fa-facebook"> </i></a></li>
                  <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-info">
              <div class="img-sec">
                <img src="/assets/Img/agent2.jpg" class="img-responsive">
              </div>
              <div class="fig-caption">
                <h3>Raycha Mayur</h3>
                <p class="marb-20">Web Developer</p>
                <p>Follow me:</p>
                <ul class="team-social">
                  <li class="blue"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="red"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="blue-light"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="blue-dark"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>


  <!--CTA2 START-->
  
  <div class="cta2">
    <div class="container">
      <div class="row white text-center">
        <h3 class="wd75 fnt-24">“Every Thing is designed. Few Things are Designed well.” - Brian Reed</h3>
        <p class="cta-sub-title"></p>
        
      </div>
    </div>
  </div>
  <!--CTA2 END-->
  