<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="fixed-top">
  <header class="topbar">
      <div class="container">
        <div class="row">
          <div *ngIf="flag">
            <div class="col-md-12">
                          <form class="form" action="" >
                              <div class="row" style="border: 2px solid white;">
                                  <div class="col-md-2">
                                    <p for="username" class="text-black">Username:</p>
                                  </div>  

                                  <div class="col-md-2" >
                                    <input type="text" name="username" id="username" class="form-control" #user>
                                  </div>
                                  <div class="col-md-2">
                                    <label for="password" class="text-white">Password:</label>
                                  </div>
                                  <div class="col-md-2">  
                                    <input type="password" name="password" id="password" class="form-control" #pass>
                                  </div>
                                  <div class="col-md-4">
                                    <button  type="submit" name="submit" class="btn btn-info btn-md" value="submit" (click)="login(user.value,pass.value)">submit</button>
                                  </div>
                              </div>
                          </form>
            </div>
          </div>
            
            </div>
              
              <p style ='margin-left:1100px; font-size: 20px;'><a routerLink="/profile/{{login_user}}"  routerLinkActive="active" style="color: white;" >{{login_user}}</a></p>
            
          
        
      </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">
    <div class="container">
      <a class="navbar-brand" href="index.html" style="text-transform: uppercase;">DISCUSSION FORUM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/bloglist" routerLinkActive="active">Blogs</a>
          </li>

         <li class="nav-item">
            <a class="nav-link" routerLink="/userlist" routerLinkActive="active">Users</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/feedback" routerLinkActive="active">Feedback</a>
          </li>

          <li class="nav-item">
             <div *ngIf="status; else elseBlock">
                <button class="btn btn-success" (click)="logout()">Logout</button>
            </div> 
              <ng-template #elseBlock>
                 <button class="btn btn-info" (click)="changeFlag('login')">SignIn</button>
                 &nbsp<button class="btn btn-info" (click)="changeFlag('NewUser')">SignUp</button>
              </ng-template>
          </li>
            
        </ul>
      </div>
    </div>
  </nav>
</div>


  <div class="container">
        
            
                <div class="box">
                    
                    
                </div>
                <p style="margin-top:100px;"></p>
          
    </div>
    
<div>
